button {
  border: 0;
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 0.25s ease-out;
  width: 200px;
  background-color: rgba(34, 193, 195, 1);
  color: white;
}

button:hover {
  box-shadow: 0px 2px 4px rgb(0 0 0 / 0.2);
}

.downloadBtn {
  color: white;
  background-color: rgba(253, 187, 45, 1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.buttonDiv {
  margin-top: 16px;
  display: flex;
  gap: 8px;
  justify-content: space-evenly;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  color: #333;
}

input {
  outline: 0;
  border-width: 0 0 1px;
  padding: 8px 16px;
  background-color: #efefef;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-top: 2px;
  transition: all 0.25s ease-out;
}

input:focus {
  outline: none;
  border-width: 0 0 1px;
  border-color: rgba(34, 193, 195, 1);
}

@media (max-width: 420px) {
  .buttonDiv {
    flex-direction: column;
    align-items: center;
  }
}
