.appContainer {
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 300%;
  background-image: linear-gradient(
    38deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  animation: bg-animation 15s infinite;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.app {
  position: relative;
  background-color: white;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 0.2);
  border-radius: 8px;
  max-width: 420px;
  padding: 16px;
}

@media (max-width: 420px) {
  .app {
    padding: 8px;
    border-radius: 0;
    height: 100vh;
    background-image: linear-gradient(
      38deg,
      rgb(180, 193, 193) 0%,
      rgb(255, 255, 255) 100%
    );
    animation: bg-animation 15s infinite;
  }

  .appContainer {
    padding-top: 0px;
    padding-bottom: 0px;
    display: block;
  }
}
