:root {
  --md-source: #006689;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #001e2c;
  --md-ref-palette-primary20: #003549;
  --md-ref-palette-primary25: #004058;
  --md-ref-palette-primary30: #004d68;
  --md-ref-palette-primary35: #005978;
  --md-ref-palette-primary40: #006689;
  --md-ref-palette-primary50: #0080ab;
  --md-ref-palette-primary60: #209bcc;
  --md-ref-palette-primary70: #4ab6e8;
  --md-ref-palette-primary80: #78d1ff;
  --md-ref-palette-primary90: #c2e8ff;
  --md-ref-palette-primary95: #e2f3ff;
  --md-ref-palette-primary98: #f5faff;
  --md-ref-palette-primary99: #fbfcff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #091e28;
  --md-ref-palette-secondary20: #20333d;
  --md-ref-palette-secondary25: #2b3e49;
  --md-ref-palette-secondary30: #364954;
  --md-ref-palette-secondary35: #425560;
  --md-ref-palette-secondary40: #4e616d;
  --md-ref-palette-secondary50: #667a86;
  --md-ref-palette-secondary60: #8093a0;
  --md-ref-palette-secondary70: #9aaebb;
  --md-ref-palette-secondary80: #b5c9d7;
  --md-ref-palette-secondary90: #d1e5f3;
  --md-ref-palette-secondary95: #e2f3ff;
  --md-ref-palette-secondary98: #f5faff;
  --md-ref-palette-secondary99: #fbfcff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #3e001d;
  --md-ref-palette-tertiary20: #5e1133;
  --md-ref-palette-tertiary25: #6c1d3e;
  --md-ref-palette-tertiary30: #7b2949;
  --md-ref-palette-tertiary35: #893455;
  --md-ref-palette-tertiary40: #984061;
  --md-ref-palette-tertiary50: #b6587a;
  --md-ref-palette-tertiary60: #d57194;
  --md-ref-palette-tertiary70: #f48bae;
  --md-ref-palette-tertiary80: #ffb1c8;
  --md-ref-palette-tertiary90: #ffd9e2;
  --md-ref-palette-tertiary95: #ffecf0;
  --md-ref-palette-tertiary98: #fff8f8;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #191c1e;
  --md-ref-palette-neutral20: #2e3133;
  --md-ref-palette-neutral25: #393c3e;
  --md-ref-palette-neutral30: #454749;
  --md-ref-palette-neutral35: #505355;
  --md-ref-palette-neutral40: #5c5f61;
  --md-ref-palette-neutral50: #757779;
  --md-ref-palette-neutral60: #8f9193;
  --md-ref-palette-neutral70: #aaabae;
  --md-ref-palette-neutral80: #c5c6c9;
  --md-ref-palette-neutral90: #e1e2e5;
  --md-ref-palette-neutral95: #f0f1f3;
  --md-ref-palette-neutral98: #f8f9fc;
  --md-ref-palette-neutral99: #fbfcfe;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #151d21;
  --md-ref-palette-neutral-variant20: #2a3136;
  --md-ref-palette-neutral-variant25: #353c41;
  --md-ref-palette-neutral-variant30: #41484d;
  --md-ref-palette-neutral-variant35: #4c5358;
  --md-ref-palette-neutral-variant40: #585f64;
  --md-ref-palette-neutral-variant50: #71787d;
  --md-ref-palette-neutral-variant60: #8a9297;
  --md-ref-palette-neutral-variant70: #a5acb2;
  --md-ref-palette-neutral-variant80: #c0c7cd;
  --md-ref-palette-neutral-variant90: #dce3e9;
  --md-ref-palette-neutral-variant95: #ebf2f8;
  --md-ref-palette-neutral-variant98: #f5faff;
  --md-ref-palette-neutral-variant99: #fbfcff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #006689;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #c2e8ff;
  --md-sys-color-on-primary-container-light: #001e2c;
  --md-sys-color-secondary-light: #4e616d;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #d1e5f3;
  --md-sys-color-on-secondary-container-light: #091e28;
  --md-sys-color-tertiary-light: #984061;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #ffd9e2;
  --md-sys-color-on-tertiary-container-light: #3e001d;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fbfcfe;
  --md-sys-color-on-background-light: #191c1e;
  --md-sys-color-surface-light: #fbfcfe;
  --md-sys-color-on-surface-light: #191c1e;
  --md-sys-color-surface-variant-light: #dce3e9;
  --md-sys-color-on-surface-variant-light: #41484d;
  --md-sys-color-outline-light: #71787d;
  --md-sys-color-inverse-on-surface-light: #f0f1f3;
  --md-sys-color-inverse-surface-light: #2e3133;
  --md-sys-color-inverse-primary-light: #78d1ff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #006689;
  --md-sys-color-outline-variant-light: #c0c7cd;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #78d1ff;
  --md-sys-color-on-primary-dark: #003549;
  --md-sys-color-primary-container-dark: #004d68;
  --md-sys-color-on-primary-container-dark: #c2e8ff;
  --md-sys-color-secondary-dark: #b5c9d7;
  --md-sys-color-on-secondary-dark: #20333d;
  --md-sys-color-secondary-container-dark: #364954;
  --md-sys-color-on-secondary-container-dark: #d1e5f3;
  --md-sys-color-tertiary-dark: #ffb1c8;
  --md-sys-color-on-tertiary-dark: #5e1133;
  --md-sys-color-tertiary-container-dark: #7b2949;
  --md-sys-color-on-tertiary-container-dark: #ffd9e2;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #191c1e;
  --md-sys-color-on-background-dark: #e1e2e5;
  --md-sys-color-surface-dark: #191c1e;
  --md-sys-color-on-surface-dark: #e1e2e5;
  --md-sys-color-surface-variant-dark: #41484d;
  --md-sys-color-on-surface-variant-dark: #c0c7cd;
  --md-sys-color-outline-dark: #8a9297;
  --md-sys-color-inverse-on-surface-dark: #191c1e;
  --md-sys-color-inverse-surface-dark: #e1e2e5;
  --md-sys-color-inverse-primary-dark: #006689;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #78d1ff;
  --md-sys-color-outline-variant-dark: #41484d;
  --md-sys-color-scrim-dark: #000000;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
